{% extends "base.html" %}
{% block content %}
<h2>Tableau de Bord Administrateur</h2>
<div class="row">
    <div class="col-md-3">
        <a href="{{ url_for('gestion_utilisateurs') }}" class="btn btn-primary btn-block">Gérer Utilisateurs</a>
    </div>
    <div class="col-md-3">
        <a href="{{ url_for('gestion_cours') }}" class="btn btn-success btn-block">Gérer Cours</a>
    </div>
    <div class="col-md-3">
        <a href="{{ url_for('detecter_conflits') }}" class="btn btn-danger btn-block">Détecter Conflits</a>
    </div>
</div>
{% endblock %}
